[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

mutagen = "==1.40.*"
pyinstaller = "==3.3.*"
cython = "==0.25.*"
kivy = "==1.10.*"
pygame = "==1.9.*"
pillow = "==6.2.*"
pyenchant = "*"


[dev-packages]



[requires]

python_version = "3.6"
